@font-face {
  font-family: 'Lato-regular';
  src: url(../fonts/Lato/lato-v23-latin-regular.woff2);
}

@font-face {
  font-family: 'Lato-bold';
  src: url(../fonts/Lato/lato-v23-latin-700.woff2);
}

@mixin webfont {
  font-family: 'Lato-regular', sans-serif;
}
