@import 'resets';
@import 'color';
@import 'books';
@import 'mixins';
@import 'fonts';
@import 'add-book';
@import 'breakpoints';
@import 'display';
@import 'contact';

.hero {
  background-color: $white;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 0;

  @include unhover;

  .hero__title {
    @include flex-column;

    width: 60%;
    padding: 1rem;
    font-family: 'Lato-regular', sans-serif;
    color: $secondary-color;
    font-size: 2rem;
    margin-right: auto;
    align-items: flex-start;
    margin-left: 10%;

    @include for-laptop {
      padding: 1rem;
    }

    @include unhover;

    &:hover {
      @include hover-transition;
    }
  }
}

body {
  background: url(../img/marcel-strauss-Mw2QQYHu-4-unsplash.jpg);

  @include responsive-bg;

  background-color: transparentize($color: $secondary-color, $amount: 0.5);
  background-blend-mode: soft-light;
}

.navbar {
  @include flex-column;

  margin-right: 10%;
  width: 100%;
  align-items: flex-end;
  font-family: 'Lato-regular', sans-serif;

  .navbar-list__items {
    display: inline-block;
    padding: 0 1rem;
  }
}

.footer {
  font-family: 'Lato-regular', sans-serif;

  @include flex-row;

  padding: 0 10%;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;

  &__copyright {
    width: 60%;
    padding: 2% 0;
  }

  &__text {
    width: 100%;
    padding: 2% 0;
  }
}

.date-now {
  z-index: 99; 
  display: flex; 
  justify-content: flex-end; 
  width: 100%; 
  background-color: aliceblue; 
  height: 2rem; color: black; 
  font-size: 1rem; 
  margin-top: 71px; 
  align-items: center; 
  padding-right: 10%;
  position: fixed;
  &__content {
    padding-right: 1rem;
    font-family: 'Lato-regular', sans-serif;
  }
}